h1 {
    font-size: 32px;
    color: green;
    text-align: center;
    text-decoration: underline;
}
th {
    background-color: #f0f0f0;
    font-weight: bold;
    padding: 10px;
}
td {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #fff;
}
