h1 {
    font-size: 32px;
    color: green;
    text-align: center;
    text-decoration: underline;
}
th {
    background-color: #f0f0f0;
    font-weight: bold;
    padding: 10px;
}
td {
    border: 3px double #666;
    padding: 15px;
    background-color: #e0e0e0;
    font-style: italic;
}
#grades-link {
    text-decoration: none;
    color: blue;
}

#grades-link:hover {
    color: darkred;
}
